.ui-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

/* Size variants */
.ui-icon--xs {
  font-size: 0.75rem;
}

.ui-icon--sm {
  font-size: 0.875rem;
}

.ui-icon--md {
  font-size: 1rem;
}

.ui-icon--lg {
  font-size: 1.25rem;
}

.ui-icon--xl {
  font-size: 1.5rem;
}
