.image-crop-modal__container {
    position: relative;
    width: 100%;
    height: 350px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .image-crop-modal__container {
        height: 280px;
    }
}