{
  "openapi": "3.0.0",
  "info": {
    "title": "FitGlue Internal API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.fitglue.app"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "PendingInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "activityId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "description": "1=WAITING, 2=COMPLETED"
          },
          "requiredFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "inputData": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "activityId",
          "status"
        ]
      },
      "InputResolutionRequest": {
        "type": "object",
        "properties": {
          "activityId": {
            "type": "string"
          },
          "inputData": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "activityId",
          "inputData"
        ]
      },
      "SynchronizedActivity": {
        "type": "object",
        "properties": {
          "activityId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "integer",
            "description": "ActivityType enum"
          },
          "source": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "syncedAt": {
            "type": "string",
            "format": "date-time"
          },
          "pipelineId": {
            "type": "string"
          },
          "pipelineExecutionId": {
            "type": "string"
          },
          "pipelineExecution": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecutionRecord"
            }
          },
          "destinations": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "ExecutionRecord": {
        "type": "object",
        "properties": {
          "executionId": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "errorMessage": {
            "type": "string"
          },
          "triggerType": {
            "type": "string"
          }
        }
      }
    }
  },
  "paths": {
    "/inputs": {
      "get": {
        "summary": "List pending inputs",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of pending inputs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inputs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PendingInput"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Resolve a pending input",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputResolutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Input resolved and activity re-published",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pending input not found"
          }
        }
      }
    },
    "/inputs/fcm-token": {
      "post": {
        "summary": "Register FCM Token",
        "description": "Register a Firebase Cloud Messaging token for the user",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/waitlist": {
      "post": {
        "summary": "Join waitlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "websiteUrl": {
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully joined"
          },
          "409": {
            "description": "Already on waitlist"
          }
        }
      }
    },
    "/activities/stats": {
      "get": {
        "summary": "Get activity stats",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Activity statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "synchronizedCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/activities": {
      "get": {
        "summary": "List synchronized activities",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of activities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SynchronizedActivity"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/activities/{id}": {
      "get": {
        "summary": "Get activity details",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity Details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activity": {
                      "$ref": "#/components/schemas/SynchronizedActivity"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Activity not found"
          }
        }
      }
    }
  }
}
