{
  "openapi": "3.0.0",
  "info": {
    "title": "FitGlue Internal API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://fitglue.tech/api"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "PendingInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "activityId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "description": "1=WAITING, 2=COMPLETED"
          },
          "requiredFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "inputData": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "autoPopulated": {
            "type": "boolean",
            "description": "True if this pending input was auto-created by the system (e.g., for Parkrun results)"
          },
          "enricherProviderId": {
            "type": "string",
            "description": "ID of the enricher that created this pending input (e.g., 'parkrun')"
          },
          "autoDeadline": {
            "type": "string",
            "format": "date-time",
            "description": "Deadline for auto-resolution (after which user may need to provide manual input)"
          },
          "linkedActivityId": {
            "type": "string",
            "description": "ID of the activity that was already created (for resume mode)"
          },
          "pipelineId": {
            "type": "string",
            "description": "ID of the pipeline that contains the enricher which created this pending input"
          },
          "providerMetadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Provider-specific metadata for rich UI interactions (e.g., laps, presets)"
          }
        },
        "required": [
          "id",
          "activityId",
          "status"
        ]
      },
      "InputResolutionRequest": {
        "type": "object",
        "properties": {
          "activityId": {
            "type": "string"
          },
          "inputData": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "activityId",
          "inputData"
        ]
      },
      "SynchronizedActivity": {
        "type": "object",
        "properties": {
          "activityId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "integer",
            "description": "ActivityType enum"
          },
          "source": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "syncedAt": {
            "type": "string",
            "format": "date-time"
          },
          "pipelineId": {
            "type": "string"
          },
          "pipelineExecutionId": {
            "type": "string"
          },
          "pipelineExecution": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecutionRecord"
            }
          },
          "destinations": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "ExecutionRecord": {
        "type": "object",
        "properties": {
          "executionId": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "errorMessage": {
            "type": "string"
          },
          "triggerType": {
            "type": "string"
          },
          "inputsJson": {
            "type": "string",
            "description": "JSON-encoded input payload"
          },
          "outputsJson": {
            "type": "string",
            "description": "JSON-encoded output/result"
          }
        }
      },
      "UnsynchronizedEntry": {
        "type": "object",
        "properties": {
          "pipelineExecutionId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "activityType": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "tier": {
            "type": "string",
            "enum": [
              "hobbyist",
              "athlete"
            ],
            "description": "User subscription tier"
          },
          "isAdmin": {
            "type": "boolean",
            "description": "Whether user has admin privileges"
          },
          "accessEnabled": {
            "type": "boolean",
            "description": "Waitlist gate - false until admin enables access"
          },
          "trialEndsAt": {
            "type": "string",
            "format": "date-time",
            "description": "Trial expiration date, if applicable"
          },
          "syncCountThisMonth": {
            "type": "integer",
            "description": "Number of syncs used this month"
          },
          "integrations": {
            "$ref": "#/components/schemas/IntegrationsSummary"
          },
          "pipelines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PipelineConfig"
            }
          }
        },
        "required": [
          "userId"
        ]
      },
      "IntegrationsSummary": {
        "type": "object",
        "properties": {
          "hevy": {
            "$ref": "#/components/schemas/IntegrationStatus"
          },
          "strava": {
            "$ref": "#/components/schemas/IntegrationStatus"
          },
          "fitbit": {
            "$ref": "#/components/schemas/IntegrationStatus"
          },
          "parkrun": {
            "$ref": "#/components/schemas/IntegrationStatus"
          }
        }
      },
      "IntegrationStatus": {
        "type": "object",
        "properties": {
          "connected": {
            "type": "boolean"
          },
          "externalUserId": {
            "type": "string",
            "description": "Masked or truncated external user ID"
          },
          "lastUsedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "connected"
        ]
      },
      "PipelineConfig": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Optional user-friendly name for the pipeline"
          },
          "source": {
            "type": "string"
          },
          "enrichers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnricherConfig"
            }
          },
          "destinations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "source",
          "destinations"
        ]
      },
      "EnricherConfig": {
        "type": "object",
        "properties": {
          "providerType": {
            "type": "integer",
            "description": "EnricherProviderType enum value"
          },
          "inputs": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "providerType"
        ]
      },
      "CreatePipelineRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Optional user-friendly name for the pipeline"
          },
          "source": {
            "type": "string"
          },
          "enrichers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnricherConfig"
            }
          },
          "destinations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "source",
          "destinations"
        ]
      },
      "UpdatePipelineRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Optional user-friendly name for the pipeline"
          },
          "source": {
            "type": "string"
          },
          "enrichers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnricherConfig"
            }
          },
          "destinations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OAuthConnectResponse": {
        "type": "object",
        "properties": {
          "authUrl": {
            "type": "string",
            "description": "OAuth authorization URL to redirect user to"
          }
        },
        "required": [
          "authUrl"
        ]
      },
      "ConfigFieldOption": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        },
        "required": [
          "value",
          "label"
        ]
      },
      "ConfigFieldValidation": {
        "type": "object",
        "properties": {
          "minLength": {
            "type": "integer"
          },
          "maxLength": {
            "type": "integer"
          },
          "pattern": {
            "type": "string"
          },
          "minValue": {
            "type": "number"
          },
          "maxValue": {
            "type": "number"
          }
        }
      },
      "ConfigFieldSchema": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "fieldType": {
            "type": "integer",
            "description": "ConfigFieldType enum"
          },
          "required": {
            "type": "boolean"
          },
          "defaultValue": {
            "type": "string"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConfigFieldOption"
            }
          },
          "validation": {
            "$ref": "#/components/schemas/ConfigFieldValidation"
          },
          "dependsOn": {
            "$ref": "#/components/schemas/ConfigFieldDependency"
          },
          "keyOptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConfigFieldOption"
            },
            "description": "Options for the key side of KEY_VALUE_MAP"
          },
          "valueOptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConfigFieldOption"
            },
            "description": "Options for the value side of KEY_VALUE_MAP"
          },
          "dynamicSource": {
            "type": "string",
            "description": "Key for dynamic data source (e.g., 'hevy_routines')"
          }
        },
        "required": [
          "key",
          "label",
          "fieldType"
        ]
      },
      "ConfigFieldDependency": {
        "type": "object",
        "properties": {
          "fieldKey": {
            "type": "string",
            "description": "Key of the field this depends on"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Show when dependent field has one of these values"
          }
        },
        "required": [
          "fieldKey",
          "values"
        ]
      },
      "Transformation": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "before": {
            "type": "string"
          },
          "after": {
            "type": "string"
          },
          "visualType": {
            "type": "string",
            "description": "Visual rendering type (hr-graph, gps-map) - renders SVG instead of text when set"
          },
          "afterHtml": {
            "type": "string",
            "description": "Pre-formatted HTML for after state - used instead of after when set"
          }
        }
      },
      "PluginManifest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "integer",
            "description": "PluginType enum"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "requiredIntegrations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "configSchema": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConfigFieldSchema"
            }
          },
          "enricherProviderType": {
            "type": "integer"
          },
          "destinationType": {
            "type": "integer"
          },
          "marketingDescription": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "transformations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transformation"
            }
          },
          "useCases": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "externalUrlTemplate": {
            "type": "string",
            "description": "Template URL for external activity link (e.g., 'https://strava.com/activities/{id}')"
          },
          "requiredTier": {
            "type": "string",
            "description": "Required subscription tier to use this plugin (e.g., 'athlete')"
          },
          "category": {
            "type": "string",
            "description": "Category for UX grouping (e.g., 'wearables', 'stats', 'detection')"
          },
          "sortOrder": {
            "type": "integer",
            "description": "Ordering within category (lower = first)"
          },
          "isPremium": {
            "type": "boolean",
            "description": "Display premium badge (Athlete-tier)"
          },
          "popularityScore": {
            "type": "integer",
            "description": "Score for 'recommended' sorting in wizard"
          },
          "iconType": {
            "type": "string",
            "description": "Icon type: emoji, svg, png, or jpg"
          },
          "iconPath": {
            "type": "string",
            "description": "Path to icon asset (e.g., /images/icons/strava.svg)"
          },
          "allowMultipleInstances": {
            "type": "boolean",
            "description": "When true, this enricher can be added multiple times to a pipeline with different configs"
          }
        },
        "required": [
          "id",
          "type",
          "name",
          "enabled"
        ]
      },
      "IntegrationManifest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "authType": {
            "type": "integer",
            "description": "IntegrationAuthType enum"
          },
          "enabled": {
            "type": "boolean"
          },
          "docsUrl": {
            "type": "string"
          },
          "setupTitle": {
            "type": "string"
          },
          "setupInstructions": {
            "type": "string"
          },
          "apiKeyLabel": {
            "type": "string"
          },
          "apiKeyHelpUrl": {
            "type": "string"
          },
          "iconType": {
            "type": "string",
            "description": "Icon type: emoji, svg, png, or jpg"
          },
          "iconPath": {
            "type": "string",
            "description": "Path to icon asset (e.g., /images/icons/strava.svg)"
          }
        },
        "required": [
          "id",
          "name",
          "authType",
          "enabled"
        ]
      },
      "PluginRegistryResponse": {
        "type": "object",
        "properties": {
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PluginManifest"
            }
          },
          "enrichers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PluginManifest"
            }
          },
          "destinations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PluginManifest"
            }
          },
          "integrations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntegrationManifest"
            }
          }
        },
        "required": [
          "sources",
          "enrichers",
          "destinations",
          "integrations"
        ]
      }
    }
  },
  "paths": {
    "/registry": {
      "get": {
        "summary": "Get plugin registry",
        "description": "Returns all registered sources, enrichers, destinations, and integrations",
        "responses": {
          "200": {
            "description": "Plugin registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginRegistryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/inputs": {
      "post": {
        "summary": "Resolve a pending input",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputResolutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Input resolved and activity re-published",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pending input not found"
          }
        }
      }
    },
    "/inputs/{id}": {
      "delete": {
        "summary": "Dismiss a pending input",
        "description": "Dismiss a pending input activity",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Input dismissed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Pending input not found"
          }
        }
      }
    },
    "/inputs/fcm-token": {
      "post": {
        "summary": "Register FCM Token",
        "description": "Register a Firebase Cloud Messaging token for the user",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/waitlist": {
      "post": {
        "summary": "Join waitlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "websiteUrl": {
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully joined"
          },
          "409": {
            "description": "Already on waitlist"
          }
        }
      }
    },
    "/activities/stats": {
      "get": {
        "summary": "Get activity stats",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Activity statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "synchronizedCount": {
                      "type": "integer"
                    },
                    "totalSynced": {
                      "type": "integer"
                    },
                    "monthlySynced": {
                      "type": "integer"
                    },
                    "weeklySynced": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/activities/{id}": {
      "get": {
        "summary": "Get activity details with execution trace",
        "description": "Returns activity details including pipelineExecution for trace visualization",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity Details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activity": {
                      "$ref": "#/components/schemas/SynchronizedActivity"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Activity not found"
          }
        }
      }
    },
    "/activities/unsynchronized": {
      "get": {
        "summary": "List unsynchronized pipeline executions",
        "description": "Lists pipeline executions that did not result in a synchronized activity",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of unsynchronized executions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "executions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UnsynchronizedEntry"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/activities/unsynchronized/{pipelineExecutionId}": {
      "get": {
        "summary": "Get unsynchronized pipeline execution trace",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "pipelineExecutionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline execution trace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipelineExecutionId": {
                      "type": "string"
                    },
                    "pipelineExecution": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExecutionRecord"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pipeline execution not found"
          }
        }
      }
    },
    "/users/me": {
      "patch": {
        "summary": "Update user profile",
        "description": "Update allowed user profile fields",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "summary": "Delete user account",
        "description": "Permanently delete user account and all associated data (cascade delete)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/me/counters": {
      "get": {
        "summary": "List user counters",
        "description": "Returns all user-defined counters for dynamic select in Auto Increment enricher",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of counters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Counter key/identifier"
                      },
                      "count": {
                        "type": "integer",
                        "description": "Current counter value"
                      }
                    },
                    "required": [
                      "id"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/me/integrations/{provider}/connect": {
      "post": {
        "summary": "Generate OAuth URL for provider",
        "description": "Generates an OAuth authorization URL for the specified provider",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "strava",
                "fitbit"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OAuth URL generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthConnectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid provider"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/me/integrations/{provider}": {
      "delete": {
        "summary": "Disconnect integration",
        "description": "Removes the integration credentials for the specified provider",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "strava",
                "fitbit",
                "hevy"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration disconnected",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Integration not found"
          }
        }
      }
    },
    "/users/me/pipelines": {
      "post": {
        "summary": "Create pipeline",
        "description": "Creates a new pipeline for the user",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePipelineRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pipeline created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineConfig"
                }
              }
            }
          },
          "400": {
            "description": "Invalid pipeline configuration"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/me/pipelines/{pipelineId}": {
      "patch": {
        "summary": "Update pipeline",
        "description": "Updates an existing pipeline configuration",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "pipelineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePipelineRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineConfig"
                }
              }
            }
          },
          "400": {
            "description": "Invalid pipeline configuration"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Pipeline not found"
          }
        }
      },
      "delete": {
        "summary": "Delete pipeline",
        "description": "Permanently removes a pipeline",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "pipelineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Pipeline not found"
          }
        }
      }
    }
  }
}